/* primari-text-color: #212121 */
/* secondary-text-color: #757575 */
/* accent-color: #2196F3 */
/* white-color: #ffffff */
/* background-color: #F5F5F5; */
body{
    font-family:"Roboto","Raleway",sans-serif;
    color: #212121;
}
.link{
    text-decoration: none;
}
.list{
    list-style: none;
}

/* ----- header----- */
.link-logo{
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        letter-spacing: 0.03em;
        color: #2196F3;
}
.header-logo{
    color: #212121;
}
.header-link{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: #212121;
}
.header-link:hover,
.header-link:focus{
    color: #2196F3;
}
.feedback-tel{
    color: #757575;
}
.feedback-tel:hover,
.feedback-tel:focus{
    color: #2196F3
}